@import "~antd/dist/antd.css";
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}
.trigger:hover {
  color: #1890ff;
}
#side-menu-container {
}
#contentLayout {
}
.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}
.logo {
  height: 32px;
  margin: 16px;
  background: #001529;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h3 {
  color: inherit;
  margin: 0;
}
.student-list-wrapper {
  background: white;
}
.student-list-header {
  margin-bottom: 16px;
}
.breadcrumb {
  padding: 16px;
  margin: 0 16px;
  font-size: 14px;
  line-height: 1.5;
}
