@import "~antd/dist/antd.css";
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}
.trigger:hover {
  color: #1890ff;
}
.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  height: 32px;
  margin: 16px;
  background: #001529;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h3 {
  color: inherit;
  margin: 0;
}
