@import "~antd/dist/antd.css";
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}
.trigger:hover {
  color: #1890ff;
}

#contentLayout {
  height: 100vh;
  overflow: scroll;
}
.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  height: 32px;
  margin: 16px;
  background: #001529;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h3 {
  color: inherit;
  margin: 0;
}
.student-list-wrapper {
  background: white;
}
.student-list-header {
  margin-bottom: 16px;
}
.breadcrumb {
  padding: 16px;
  margin: 0 16px;
  font-size: 14px;
  line-height: 1.5;
}
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 15px;
  font-size: 40px;
  background: rgba(188, 186, 187, 0.8);
  color: white;
  opacity: 0.5;
}
.back-to-top:hover {
  opacity: 0.8;
}
#sales-info-row {
  width: calc(100% + 48px);
  margin: 0 0 0 -24px;
}

.sales-info-col {
  border: 1px solid #f0f0f0;
  border-left: none;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sales-info-col b {
  color: #7356f1;
  font-size: 24px;
}
.sales-info-col p {
  margin-bottom: 0;
}
#sales-info-row div:last-child {
  border-right: none;
}
.step-row {
  overflow-x: scroll;
  /* scrollbar-width: none; */
}
::-webkit-scrollbar {
  display: none;
}
.ant-steps-item-title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 6em;
}
